html {
  font-size: 10px;
}
header {
  height: 15rem;
  background-color: #ffb5b5;
}
header .container-fluid {
  width: 97%;
}
header .logo {
  height: 15rem;
  line-height: 15rem;
}
header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 15rem;
  color: whitesmoke;
}
main .container-fluid {
  width: 100%;
  height: 100vh;
}
main .settings {
  text-align: center;
  background-color: #cbcfe4;
}
main .settings button {
  font-family: 'Micra', arial;
  line-height: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 4rem;
  background-color: #5d0dff;
  width: 100%;
  height: 6rem;
  border-radius: 2rem;
}
main .settings button :active {
  outline: 0;
}
main .settings button :focus {
  outline: 0;
}
main .placeholder {
  width: 100%;
  background-color: #5d0dff;
  margin-top: 4rem;
  min-height: 7rem;
  border-radius: 0.8rem;
  opacity: 0.87;
}
main .placeholder div {
  display: inline-block;
}
main .placeholder-priority-clr {
  margin-left: 2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background-color: red;
}
main .placeholder-task {
  min-width: 60rem;
  height: 7rem;
  margin-left: 2rem;
}
main .placeholder-task h1 {
  line-height: 7rem;
  font-family: 'Micra', arial;
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
}
main .placeholder-description {
  font-family: 'Micra', arial;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  max-width: 60rem;
}
main .placeholder-data {
  font-family: 'Micra', arial;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 7rem;
  height: 7rem;
}
main .placeholder-status {
  margin-left: 1rem;
}
main .placeholder-status .checkbox {
  border-radius: 0.4rem;
  background-color: aqua;
  line-height: 7rem;
}
main .modal-content {
  width: 200rem;
}
main .modal-header {
  text-align: center;
}
main .modal-title {
  text-align: center;
  font-family: 'Micra', arial;
  font-size: 3rem;
  font-weight: 400;
  color: #000000;
}
main .modal-body {
  text-align: center;
  font-family: 'Micra', arial;
  font-size: 2.4rem;
  font-weight: 400;
  color: #000000;
}
